
.welcome_page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.banners {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #21262d;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 0 10px;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 15%;
    height: 100%;
}
.profile_pic {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 1000vh;
    margin: 0 10px;
    position: relative;
}
.profile_option {
    position: absolute;
    background-color: #21262d;
    width: 130px;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    top: 60px;
}
.profile:hover .profile_option {
    height: 175px;
    opacity: 1;
}
.profile_option button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}
.profile_option button:hover {
    background-color: #fff;
    color: #000;
}
.searchBar {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar input {
    width: 90%;
    border-bottom: 2px solid #fff;
    outline: none;
}

.products_cons {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.products {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: #21262d;
    flex-basis: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
    cursor: pointer;
}


.products_image {
    position: relative;
    width: 100%;
    height: 170px;
}
.product_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}
.product_info h1 {
    font-size: 21px;
    font-weight: bold;
}
.product_info h2 {
    margin: 0 10px;
}
.product_info p {
    color: #0f0;
}
.product_info h1, p {
    margin: 5px 20px;
}
.buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #fff;
    transition: 0.5s ease-in-out;
    font-weight: 600;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #fff;
    color: #000;
}
.product_status {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Loading Effects */

.products_loading1 {
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: #21262d;
    flex-basis: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
    animation: loading1 1s 1s linear infinite;
}
@keyframes loading1 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}

.products_loading2 {
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: #21262d;
    flex-basis: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
    opacity: 0.5;
    animation: loading2 1s 0.5s linear infinite;
}
@keyframes loading2 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}

.products_loading3 {
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: #21262d;
    flex-basis: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
    opacity: 0.5;
    animation: loading3 1s 1s linear infinite;
}
@keyframes loading3 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}

.products_loading4 {
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: #21262d;
    flex-basis: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
    opacity: 0.5;
    animation: loading4 1s 0.5s linear infinite;
}
@keyframes loading4 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}
