
.log_in {
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
}
.title {
    margin: 20px 10px;
    font-size: 38px;
}
.log_in form {
    width: 40%;
    margin: 40px 10px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px #fff;
}
.log_in div {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0;
}
.log_in button {
    margin: 0 20px;
    border: 2px solid #fff;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    color: #000;
    background-color: #fff;
}
.log_in button:hover {
    opacity: 0.5;
}
.log_in label {
    font-size: 16px;
    position: absolute;
    left: 0;
    transition: 0.5s ease-in-out;
}
.log_in input {
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 100%;
    outline: none;
}
.log_in input:focus + label,
.log_in input:not(:placeholder-shown) + label {
    font-size: 12px;
    transform: translateY(-20px);
}

@media (max-width: 1024px) {
    .log_in form {
        max-width: 420px;
        width: 70%;
        margin: 0;
    }
    .log_in button {
        font-size: 12px;
        padding: 5px 15px;
        margin: 0 15px;
    }
}