
.Profile {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.profile_info_inner {
    width: 100%;
    height: 230px;
    background-color: #21262d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.profile_pic_inner {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem solid #fff;
}

/* Iframes  */
.inventory {
    width: 100%;
    height: auto;
    display: flex;
}
.inventory_banners {
    width: min(240px, 100dvh);
    height: 100dvh;
    background-color: #21262d;
    display: flex;
    justify-content: left;
    overflow: hidden;
    flex-flow: column;
}
.inventory_banners button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.inventory_banners button:hover {
    background-color: #fff;
    color: #000;
}
.iframe_home {
    width: 100%;
    max-width: 1024px;
    height: 100dvh;
    display: flex;
    justify-content: center;
}
.iframe_home iframe {
    width: 100%;
    height: inherit;
}