
.Profile {
    width: 100%;
    max-width: 1024px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.profile_info {
    width: 100%;
    height: 330px;
    border-bottom-left-radius: 50px;
    background-color: #21262d;
    display: flex;
    justify-content: left;
    align-items: center;
}
.profile_data {
    width: 50%;
    height: 100%;
    position: relative;
}
.profile_infos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.profile_infos div {
    margin: 10px 10px;
}
.profile_infos h1 {
    font-size: 21px;
    font-weight: 600;
}
.set_up_profile {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 0;
    background-color: #21262d;
}
.set_up_profile form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.set_up_profile h1 {
    font-size: 24px;
    margin: 0 0 30px 0;
}
.set_up_profile div {
    width: 50%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.set_up_profile input {
    width: 70%;
    border-bottom: 2px solid #fff;
    outline: none;
}
.set_up_profile label {
    font-size: 16px;
    font-weight: 600;
}
.set_up_profile button {
    padding: 5px 20px;
    border: 2px solid #fff;
    margin: 0 auto;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}
.set_up_profile button:hover {
    background-color: #fff;
    color: #000;
}
.hidden {
    display: none;
}
.profile_pic2 {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 1000vh;
    margin: 0 30px 0 50px;
    overflow: hidden;
}