.selled_product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.selled_product h1 {
    margin: 15px 0;
    font-size: 30px;
    font-weight: bold;
}
.selled_prd {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prd_info_selled {
    width: min(430px, 90dvw);
    height: auto;
    margin: 10px;
    border-radius: 15px;
    background-color: #21262d;
    display: flex;
    overflow: hidden;
    flex-basis: 400px;
}
.prd_info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 10px;
}
.prd_name, .prd_time {
    margin: 10px 10px;
}
.prd_name {
    font-size: 34px;
    font-weight: bold;
}
.prd_time {
    font-size: 14px;
}
.prd_price {
    color: #0f0;
    margin: 0 10px;
}
.prd_info_button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0 10px 0;
}
.prd_info_button_red, .prd_info_button_white {
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.prd_info_button_white {
    background-color: #fff;
    color: #000;
}
.prd_info_button_red {
    color: #fff;
    background-color: #f00;
}
.prd_info_button_red:hover, .prd_info_button_white:hover {
    opacity: 0.5;
}

/* Loading span */

.prd_info_selled1 {
    width: min(360px, 90dvw);
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    background-color: #21262d;
    display: flex;
    overflow: hidden;
    flex-basis: 400px;
    animation: loading1 1s 1s linear infinite;
}
@keyframes loading1 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}
.prd_info_selled2 {
    width: min(360px, 90dvw);
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    background-color: #21262d;
    display: flex;
    overflow: hidden;
    flex-basis: 400px;
    animation: loading2 1s 0.5s linear infinite;
}
@keyframes loading2 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}
.prd_info_selled3 {
    width: min(360px, 90dvw);
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    background-color: #21262d;
    display: flex;
    overflow: hidden;
    flex-basis: 400px;
    animation: loading3 1s 1s linear infinite;
}
@keyframes loading3 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}
.prd_info_selled4 {
    width: min(360px, 90dvw);
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    background-color: #21262d;
    display: flex;
    overflow: hidden;
    flex-basis: 400px;
    animation: loading4 1s 0.5s linear infinite;
}
@keyframes loading4 {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}
