@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1117;
    --foreground: #ededed;
  }
}

body {
/*   background: var(--background); */
/*   color: var(--foreground); */
  background-color: #0d1117;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
.loading {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  position: absolute;
  margin: 0 auto;
  padding: 1px;
  box-shadow: 30px 20px 70px 40px #0ff, -30px -20px 70px 40px #00f;
  border-radius: 100vh;
  animation: load 1s linear infinite;
}
@keyframes load {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  40% {
    transform: rotate(140deg) scale(1);
  }
  80% {
    transform: rotate(240deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.7);   
  }
}

.error {
  color: #ff0;
  text-align: center;
}
.success {
  color: #0f0;
  text-align: center;
}
