
.header_header {
    width: 100dvw;
    height: auto;
    margin: 0 auto;
    position: fixed;
    background-color: var(--color_3);
    padding: 0.8rem 0;
}

.container {
    width: var(--max-width);
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
}

.nav_and_buttons li {
    margin: 0 1rem;
    font-weight: bold;
    cursor: pointer;
}

.nav_and_buttons button {
    padding: 1rem 0;
    width: 120px;
    font-weight: bold;
    margin: 0 1rem;
    background-color: var(--color_4);
    cursor: pointer;
    border-radius: 15px;
    border: transparent;
    transition: all 0.5s ease-in-out;
}
.nav_and_buttons button:hover {
    opacity: 0.8;
}
.nav_and_buttons button:active {
    transform: scale(0.5);
}