
@import url(./config/root__config.css);

.flex { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

html,
body,
main,
section,
aside,
footer {
  width: 100%;
  max-width: 100vw;
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
